/* Transaction Menu */
.transaction-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    align-self: center;
    background-color: var(--color-2);
    color: white;
    border: 3px solid var(--color-2);
    border-radius: 10px;
    box-sizing: border-box;
    max-width: 80vw;
    min-height: 70vh;
    overflow: hidden;
    margin: 20px 0;
}

/* Window Header */
.window-header {
    display: flex;
    justify-content: center;
    color: var(--color-fuente);
    font-size: 1rem;
    font-style: normal;
    width: 100%;
}

/* Window Container */
.window-container {
    display: flex;
    flex-direction: column;
    background-color: var(--color-1);
    box-sizing: border-box;
    padding: 20px;
    gap: 20px;
    width: 100%;
    height: 100%;
}

/* Transaction Field */
.transaction-field {
    display: flex;
    flex-direction: column;
    align-items: start;
    background-color: rgb(65, 65, 65);
    border-radius: 10px;
    box-sizing: border-box;
    padding: 15px;
    gap: 5px;
    width: 100%;
}

.transaction-field label {
    color: var(--color-4);
    font-size: 0.9rem;
    font-weight: bold;
}

.transaction-field p {
    margin: 0;
    display: inline;
}

.transaction-field:focus {
    outline: 2px solid var(--color-2);
}

.transaction-field select {
    font-size: 1.1rem;
}

/* Amount Input */
#amount-input {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.1rem;
    width: 100%;
}

/* Input and Textarea Styles */
input,
#amount,
#title,
select,
textarea.transaction-field {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 1.1rem;
    width: 100%;
    font-weight: bold;
}

select {
    width: 100%;
}

input:focus,
textarea.transaction-field:focus {
    outline: none;
}

textarea.transaction-field {
    max-height: 300px;
    resize: none;
    border: none;
    padding: 0;
    border-radius: 0;
    font-weight: normal;
}

/* Submits Field */
#submits_field {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

#submits_field button {
    font-size: 1.1rem;
    text-wrap: nowrap;
}

.submit-button {
    background-color: var(--color-boton);
    color: var(--color-fuente);
}

.submit-button:hover {
    background-color: var(--color-boton-hover);
}

.remove-button {
    background-color: var(--color-boton-3);
    color: var(--color-fuente);
}

.remove-button:hover {
    background-color: var(--color-boton-3-hover);
}

/* Remove Number Input Spin Buttons */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

@media(orientation: portrait) {
    #submits_field {
        flex-direction: column;
        padding: 0;
        gap: 10px;

    }

    #submits_field button {
        width: 100%;
    }

}