:root {
  --color-1: rgb(40, 40, 40);
  --color-2: rgb(75, 75, 75);
  --color-3: rgb(111, 111, 111);
  --color-4: rgb(138, 138, 138);
  --color-5: rgb(197, 197, 197);
  --color-fuente: rgb(227, 227, 227);
  --color-fuente-2: rgb(44, 44, 44);
  --color-boton: rgb(9, 103, 203);
  --color-boton-hover: rgb(57, 127, 203);
  --color-boton-2: rgb(179, 95, 9);
  --color-boton-2-hover: rgb(164, 87, 9);
  --color-boton-3: rgb(255, 0, 0);
  --color-boton-3-hover: rgb(255, 78, 78);
}

body,
html {
  font-family: Arial, sans-serif;
  font-style: italic;
  color: var(--color-fuente);
  background-color: var(--color-1);
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

main {
  width: 100%;
  box-sizing: border-box;
}

button {
  outline: none;
  border: none;
  padding: 10px;
  border-radius: 5px;
}

/* Navbar */
header.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-1);
  color: var(--color-fuente);
  border-bottom: 2px solid var(--color-3);
  padding: 0 20px;
  width: 100%;
  box-sizing: border-box;
}

.navbar-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-left .logo {
  margin-right: 10px;
  font-size: 1.5rem;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.navbar-center {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-right {
  width: 100%;
}

nav a {
  height: 80%;
}

nav button {
  background-color: var(--color-boton);
  color: var(--color-fuente);
  font-size: 1.1rem;
}

nav button:hover {
  background-color: var(--color-boton-hover);
}

#logo {
  width: 35px;
  height: auto;
  margin-right: 8px;
}

.navbar-right nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
  gap: 10px;
}

nav p {
  margin: 2px;
}

.nav-links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-links li a {
  color: var(--color-fuente);
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s;
}

.nav-links li a:hover {
  color: var(--color_secundario);
}

@media(orientation: portrait) {
  .navbar-container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
  }

  .navbar-left {
    justify-content: center;
  }

  .navbar-center {
    grid-row: 3;
  }

  .navbar-right nav {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}