extends ../layout

block content
    form(action="" id='add-transaction-parent' class='transaction-menu')
        div(class='window-header')
            h2 Nuevo Gasto 
        div(class='window-container')
            div(id='amount-field' class='transaction-field')
                label(for="amount") Cantidad:
                input(type="number" id="amount" name="amount" step="0.01" min="0")
            p &euro;
                div(id='date-time-field' class='transaction-field')
                label(for="date-time") Fecha:
                input(type="datetime-local" id="date-time" name="date-time")
            div(id='expense-type-field' class='transaction-field')
                label(for="expense-type") Categoria:
                select( id="expense-type" name="expense-type")
                    option(value="none") Ninguna
                    option(value="food") Comida
                    option(value="transport") Transporte
                    option(value="house") Vivienda
                    option(value="wealth") Salud
                    option(value="education") Educación
                    option(value="entertainment") Entretenimiento
            input(type="text" id="title-field" class='transaction-field' name="title" maxlength="50" placeholder='Titulo')        
            textarea(id='comment-field' class='transaction-field' name="comentarios" rows="4" cols="50" maxlength="200" placeholder='Comentario')
            div(id='submits_field' class='transaction-field')
                input(type="submit"  value='Cancelar')
                input(type="submit"  value='Añadir Gasto')
