html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title PocketLog
        link(rel="stylesheet", href="/css/layout.css")
        block styles

    body
        header.navbar
            .navbar-container
                .navbar-left
                    h1.logo Pocket Log 
                    img#logo(src="/images/cartera.png")
                .navbar-center
                    nav
                        ul.nav-links
                            li
                                a(href='/income/new')    
                                    button(type="button") Nuevo Ingreso
                            li
                                a(href='/expense/new')    
                                    button(type="button") Nuevo Gasto
                .navbar-right
                    nav
                        p#username-icon #{(user.username.slice(0,1)).toUpperCase()}
                        ul.nav-links
                            li
                                a(href="/transaction") Inicio
                            li
                                a(href="/logout") Cerrar sesión

        main
            block content
