html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title PocketLog Login
        link(rel="stylesheet" href="/css/layout.css")
        link(rel="stylesheet" href="/css/loginStyles.css")

    body
        main
            div.title
                h1 PocketLog 
                img(src="/images/cartera.png")
            div.login-box
                h2 Iniciar Sesi칩n
                form.login-form(action="/login" method="POST")
                    label(for="email") Correo Electr칩nico
                    input#email(type="email" placeholder="ahorrador98@correo.com" name="email" value='john@example.com' required)

                    label(for="password") Contrase침a
                    input#password(type="password" placeholder="Contrase침a" name="password" value='12345' required)

                    button.login-button(type="submit") Entrar

                    a(href='/register')    
                        button.azure-button(type="button") Registro


