extends ../layout 

block content
    link(rel="stylesheet" href="/css/loginStyles.css")



    
    div.login-box
        h2 Datos de registro
        form.login-form(action="/register" method="POST")

          
            label(for="email") Introduzca correo
            input#username(type="email" name="email", required)

            label(for="username") Introduzca nombre de usuario
            input#username(type="text" name="username", required)
           
            label(for="password") Contraseña
            input#password(type="password" name="password", required minlength ="5")
            
            label(for="passwordConfirm") Repita contraseña
            input#password(type="password" name="passwordConfirm", required minlength ="5")



            
            button.login-button(type="submit") Enviar

            
            a(href='/login')    
                button.azure-button(type="button") Login